body{
    background-image: url("../img/starfield-1.jpg.jpg");
    background-attachment: fixed;
    background-size: 100%;
}

.mt-6{
    margin-top: 3.5rem;
}

.bg-sand{
    background-color: #A34112;
}

.bg-serenity{
    background-color: #121C28;
}

.text-serenity{
    color: #121C28;
}

.bg-dust{
    background-color: #D7BA6E;
}


.bg-lightsand{
    background-color: #a8735a;
}

.width_of_content{
    width: 75% !important;
    max-width: 1440px; !important;
}

.main_blocks{
    padding: 3.5rem 1.25rem 1rem;
}

.three_column{
    column-count: 3;
    text-align: justify;
}

/*.two_column_nav{*/
/*    column-count: 1;*/
/*}*/

#Crew .card-group{

}

.card-style1 p, .card-style2  p{
    text-align: left;
}
.card-style1, .card-style2{
    max-width: 25rem;
}

.card-style1 img{
    object-fit: cover;
    object-position: top;
    height: 30rem;
}
.card-style2 img{
    object-fit: cover;
    object-position: top;
    height: 30rem;
}

#VideoBox{
    margin: auto;
}
#VideoBox iframe{
    width: 100%;
    height: 630px;
}

.linklogo{
    width: 100px;
    margin: 2% auto 2% auto;
    border-radius: 50px;
}

.linklogo:hover{
    background-color: rgba(255, 122, 27, 0.71);
    box-shadow: rgb(255, 122, 27) 0 0 30px 10px;
    border-radius: 50px;
}

#Onlinecinema li{
    display: inline-block;
    width: 33%;
    list-style-type: none;
    text-align: center;
}

footer{
    height: min-content;
}

.main_blocks h2{
        text-align: center;
    }

@media (max-width: 1200px){
    .three_column{
        column-count: 2;
    }
    .card-style1, .card-style2{
        min-width: 20rem;
    }
}

@media (max-width: 989px) {
    #navbar-top{
        font-size: small;
        min-height: 56px;
    }
    #VideoBox iframe{
        height: 330px;
    }
}
@media (max-width: 834px){ /*768*/
    .width_of_content{
        width: 100% !important;
    }
    .three_column{
        column-count: 1;
    }
    .card-style1, .card-style2{
        text-align: justify;
    }
    .card-style1 img, .card-style2  img{
        height: 350px;
    }

}

@media (max-width: 576px){
    #navbar-top {
        font-size: unset;
    }
    .mt-6{
        margin-top: 8.5rem;
    }
    .two_column_nav{
        height: 7.5rem;
        display: block;
        column-count: 2;
        column-gap: 50px;
        margin: auto;
    }
    .main_blocks{
        padding-top: 8.5rem;
    }
}




